@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: rgb(193, 202, 212);
  background: rgb(40, 42, 54);
}

a {
  color: #8394ca;
}

a:hover {
  color: #c8c8ff;
  -webkit-transition: 0.5s linear color;
  transition: 0.5s linear color;
}
